/* Import del mio font */
@import url(./fonts.css);
/* Import del mio file variabile */
@import url(./partials/_variables.css);
/* Import del file globale */
@import url(./partials/_global.css);

/*#region Header */

/* Logo */
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 20rem;
}

/* Nav Links */
.header_area .main-menu .nav-item .nav-link {
    font:normal 500 15px/2 var(--roboto); /* Per definire il font in unica volta */
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active,
.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*#endregion */

/*#region Site Banner */

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}
/* Linea orizzontale sull'H3 */
.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}
.site-main .site-banner .site-title h1{
    font-size: 5rem;
}
.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}
.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}
/*#endregion */

/*#region About Area */
.site-main .about-area {
    padding: 8rem 5rem;
}

.about-title h2 > span {
    display: block;
    font: normal bolder 49px/60px var(--roboto);
    letter-spacing: 18px;
}

.paragraph > p {
    padding: 0.4rem 0;
}

p.para {
    color: var(--text-color);
    font: normal 500 16px/25px var(--roboto);
}
/*#endregion */

/*#region Brands Area */

.brand-area {
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}

.brand-area .first-row .col-lg-4 {
    display: flex;
    justify-content: center;
}

/* Colonne con dentro i brands */
.first-row .col-lg-4 > .single-brand {
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: 0.9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.first-row .col-lg-4 > .single-brand:hover {
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.single-brand > img {
    width: 50%;
}

.single-brand:hover > img {
    filter: brightness(0.15);
}

.brand-area .experience-area {
    padding-left: 1rem;
}

.experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area {
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
}

.experience-area {
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel {
    position: absolute;
    left: -190px;
    top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--secondary-color);
    z-index: 2;
}

.experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--roboto);
}

.experience-area .call-area{
    padding-left: 10rem;
}

.call-area span > i {
    margin-right: 10px;
}
.call-now > a {
    text-decoration: none;
}
/*#endregion */

/*#region Services Area */

.services-area {
    padding: 7rem 2rem;
}

.services-area .services-title {
    padding: 0 14rem;
}

.services-area .services-title h1 {
    font-size: 35px;
}

/* Area delle cards */
.services-area .services {
    background: rgba(248,252,253, 0.95);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem 0.5rem;
    transition: box-shadow 0.7s ease;
}

.services-area .services:hover {
    box-shadow: var(--box-shadow);
}

/*#endregion */

/*#region Project Area */
.project-area {
    padding: 4rem 0;
}

.project-area .button-group > button {
    background: transparent;
    border: none;
    font: normal bolder 16px/130px var(--roboto);
    text-transform: uppercase;
    padding-right: 3rem;
    
}

.our-project > .title h4 {
    font: normal 700 25px/12px var(--roboto);
}

.our-project .img > img {
    width: 370px;
    height: 370px;
}

/*#endregion */
